html{
    height: 100%;
    background: radial-gradient(circle,#fff, #ccc);
}

.container{
    background-color: #ccc;
    text-align: center;
}

.match{
    border-style:solid;
    border-radius: 10vw;
    width:90vw;
    min-height:30vh;
    margin:auto; 
    margin-bottom:5vh;
    background-color: aquamarine;
}

.match div{
    margin:auto; 
}

.match h3{
    margin:auto;
}


.match .tiled{
    margin-top: 2vh;
    margin-bottom: 2vh;
    min-height:25vh;
    background-color: orange;
    display:flex;
    flex-direction: column;
    justify-items: stretch;
    width:95%;

}

.tiled .matchem_row{
    display:flex;
    /* flex-direction: row; */
    /* gap:1em; */
    width:95%;
    border-style: solid;
    border-radius:20vh;
    color:red;
    flex-grow: 1;


    /* position:relative; */
    /* justify-items: start; */
}

.matchem_row .selectable{
    border-style: dashed;
    border-radius:20vh; 
    flex-grow:1;
height:6vh;}

.english_word{
    color:red;
    border-style:solid;
    /* width:40%; */
    background-color:white;
}

.finnish_word{
    color:white;
    border-style:solid;
    /* width:40%; */
    /* height:100%; */
    background-color: blue;

}

.correct{
    background-color:green;
}